html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root,
#app {
    height: 100%;
}

#app {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

label span {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

div#app {
    font-family: "SF Pro Text", -apple-system, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-rows: auto 75px 1fr 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

div#app input,
div#app textarea {
    padding: 5px;
}

div#app button {
    background-color: white;
    color: #222;
    border: 1px solid #222;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    padding: 4px 9px;
    font-size: 0.6em;
    margin: 5px 5px 0px 0;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

div#app button.active {
    background-color: #222;
    color: white;
}

div#app input {
    width: 100%;
}

div#app input:focus {
    outline: none;
}

div#app input#regexInput.invalid {
    border-color: red;
}

div#app textarea {
    resize: none;
    width: 100%;
    height: 100%;
}

div#app header {
    grid-column: 1/3;
    grid-row: 1/2;
}

div#app #regex {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

div#app #corpus {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

div#app #output {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative;
}

div#app #output textarea {
    width: 100%;
    height: 100%;
}

div#app #output #matchCount {
    background-color: #222;
    color: white;
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 0.6em;
    font-weight: 500;
}

div#app footer {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75em;
    text-transform: uppercase;
}
